// ===================================
// Root Variables (Colors)
// ===================================

:root {
  --color-primary: #39767b;
  --color-primary-dark: #257e89;
  --color-secondary: #5fa6ac;
  --color-secondary-light: #78b8bb;
  --color-tertiary: #f9f9f9;
  --color-accent: #008ba0;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-text: #222222;
  --color-background: #f5f5f5;
}
