

                <div id="address" class="profile-tab">
                  <form class="profile-main bg-white p-4">
                    <div class="row g-4 p-4">
                      <div class="col-md-12">
                        <label class="form-label">Province</label>
                        <select
                          class="form-select theme-select">
                          <option selected>Select your
                            province</option>
                          <option>Dubai</option>
                          <option>Abu Dhabi</option>
                        </select>
                      </div>
                      <div class="col-md-12">
                        <label class="form-label">City</label>
                        <select
                          class="form-select theme-select">
                          <option selected>Select your
                            city</option>
                          <option>Dubai</option>
                          <option>Ajman</option>
                        </select>
                      </div>
                      <div class="col-md-12">
                        <label class="form-label">Area</label>
                        <select
                          class="form-select theme-select">
                          <option selected>Select your
                            area</option>
                          <option>International City</option>
                          <option>Business Bay</option>
                        </select>
                      </div>
                      <div class="col-md-12">
                        <label class="form-label">Address</label>
                        <input type="text"
                          class="form-control theme-input"
                          placeholder="House no / building / street / area">
                      </div>
                      <div class="col-md-12">
                        <label class="form-label">Landmark
                          (Optional)</label>
                        <textarea class="form-control theme-input"
                          placeholder="E.g. beside train station"></textarea>
                      </div>
                      <div class="col-12 mt-4">
                        <button type="submit"
                          class="btn btn-save btn-secondary">SAVE
                          CHANGES</button>
                      </div>
                    </div>
                  </form>
                </div>