
                <div id="order" class="profile-tab">

                  <div class="profile-main bg-white p-4">
                    <div class="row g-4 p-4">
                      <div class="col-md-12">
                        <div class="order-list">
                          <!-- Single Order Item -->
                          <div
                            class="order-item d-flex align-items-center justify-content-between py-3">
                            <div class="d-flex align-items-center">
                              <div class="order-img-box me-3">
                                <img src="assets/images/product.png"
                                  alt="Product"
                                  class="order-img">
                              </div>
                              <div class="order-title fw-medium">
                                High polo tshirt black color - Beezeforch
                              </div>
                            </div>
                            <div class="order-price fw-bold text-nowrap">90
                              AED</div>
                          </div>

                          <div
                            class="order-item d-flex align-items-center justify-content-between py-3">
                            <div class="d-flex align-items-center">
                              <div class="order-img-box me-3">
                                <img src="assets/images/product.png"
                                  alt="Product"
                                  class="order-img">
                              </div>
                              <div class="order-title fw-medium">
                                High polo tshirt black color - Beezeforch
                              </div>
                            </div>
                            <div class="order-price fw-bold text-nowrap">90
                              AED</div>
                          </div>

                          <div
                            class="order-item d-flex align-items-center justify-content-between py-4">
                            <div class="d-flex align-items-center">
                              <div class="order-img-box me-3">
                                <img src="assets/images/product.png"
                                  alt="Product"
                                  class="order-img">
                              </div>
                              <div class="order-title fw-medium">
                                High polo tshirt black color - Beezeforch
                              </div>
                            </div>
                            <div class="order-price fw-bold text-nowrap">90
                              AED</div>
                          </div>

                          <div
                            class="order-item d-flex align-items-center justify-content-between py-3">
                            <div class="d-flex align-items-center">
                              <div class="order-img-box me-3">
                                <img src="assets/images/product.png"
                                  alt="Product"
                                  class="order-img">
                              </div>
                              <div class="order-title fw-medium">
                                High polo tshirt black color - Beezeforch
                              </div>
                            </div>
                            <div class="order-price fw-bold text-nowrap">90
                              AED</div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>