@import "components/menu";
@import "components/enquiry-popup";
@import "components/image-upload";


.tab-panel {
    display: none;

    &.active {
        display: block;
    }
}

/* Shared button base */
.btn-custom {
    border-radius: 0.5rem;
    /* rounded corners */
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.25s ease-in-out;
}

/* Primary (yellow) */
.btn-custom-primary {
    background-color: #facc15;
    border: 1px solid #facc15;
    color: #000;
}

.btn-custom-primary:hover {
    background-color: #eab308;
    border-color: #eab308;
    color: #000;
}

/* Secondary (outline white) */
.btn-custom-outline {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
}

.btn-custom-outline:hover {
    background-color: #facc15;
    border-color: #facc15;
    color: #000;
}


.nav-tabs {
    .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem;

        &:hover {
            background: none !important;
            border-bottom: 2px solid #6A4CFF;
            color: #4B2EF5 !important;
            font-weight: 600;
        }
    }

    .nav-link.active {
        background: none !important;
        border-bottom: 2px solid #6A4CFF;
        color: #4B2EF5 !important;
        font-weight: 600;
    }
}

.pt-7 {
    p.small {
        font-size: .875rem;
        color: #475569;
    }

    p.fw-bold {
        color: #0f172a;
        font-size: 1rem;
    }
}

.rounded-pill {
    display: inline-flex;
    align-items: center;
    border-radius: 9999px;
    background: #fff;
    padding: .35rem .75rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    font-size: .8rem;
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1240px) {
    .sptb {
        .tab-panel {
            p {
                font-size: 16px;
            }

            ul {
                li {
                    font-size: 16px;
                }
            }

            div.mb-2 {
                font-size: 16px;
            }
        }
    }
}
