@import "components/menu";
@import "components/enquiry-popup";
@import "components/image-upload";


.tab-panel {
    display: none;

    &.active {
        display: block;
    }
}

/* Shared button base */
.btn-custom {
    border-radius: 0.5rem;
    /* rounded corners */
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.25s ease-in-out;
}

/* Primary (yellow) */
.btn-custom-primary {
    background-color: #facc15;
    border: 1px solid #facc15;
    color: #000;
}

.btn-custom-primary:hover {
    background-color: #eab308;
    border-color: #eab308;
    color: #000;
}

/* Secondary (outline white) */
.btn-custom-outline {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
}

.btn-custom-outline:hover {
    background-color: #facc15;
    border-color: #facc15;
    color: #000;
}

.nav-tabs {
    .nav-link {
        &.active {
            background: none;
            border-bottom: 2px solid #6A4CFF;
    color: #4B2EF5;
    font-weight: 600;
        }
    }
}
