.order-summary-section {
	background-color: var(--color-background);

	.order-thankyou {
		.order-thankyou-heading {
			font-size: var(--font-size-13xl);
			font-weight: 400;
		}
		.order-id {
			color: var(--color-primary);
		}
	}

	.order-item {
		align-items: center;
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
		.order-item-img {
			width: 48px;
			height: 48px;
			background: #e7f6fa;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-width: 36px;
				max-height: 36px;
				object-fit: contain;
			}
		}
	}
}
