
                <div id="payment" class="profile-tab">
                  <div class="profile-main bg-white p-4">
                    <div class="row g-4 p-4">
                      <div class="col-md-12">
                        <div class="fw-semibold mb-2">Saved Cards</div>
                        <div
                          class="card-list-box border d-flex align-items-center justify-content-between mb-4">
                          <div
                            class="card-list d-flex align-items-center gap-3 flex-grow-1 p-3">
                            <img src="assets/icons/mastercard.png" alt="Card"
                              style="width: 38px; height: 25px;">
                            <span class="text-black-50">**** &nbsp;
                              4214</span>
                            <div class="ms-5" style="letter-spacing: 1.2px;">
                              <span class="text-black-50 ms-lg-3">DATE OF EXPIRED
                                -
                                <span
                                  class="text-black">21/19</span></span>

                            </div>
                          </div>
                          <div class="bg-red">
                            <button type="button"
                              class="btn btn-delete-card p-3">
                              <i class="bi bi-trash"></i>
                            </button>

                          </div>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <form>
                          <div class="fw-semibold mb-2">Add new Card</div>

                          <div class="input-group border border mb-3">

                            <input type="text"
                              class="form-control theme-input border-0"
                              placeholder="Card Number">

                            <span
                              class="input-group-text border-0 bg-white pe-2">
                              <img src="assets/icons/mastercard.png"
                                alt="Mastercard"
                                width="34" />
                            </span>
                          </div>

                          <div class="mb-3 row gx-2">
                            <div class="col">
                              <input type="text"
                                class="form-control theme-input"
                                placeholder="Expiration Date">
                            </div>
                            <div class="col-4">
                              <input type="text"
                                class="form-control theme-input"
                                placeholder="CVV">
                            </div>
                          </div>
                          <div class="mb-4">
                            <input type="text"
                              class="form-control theme-input"
                              placeholder="Name on Card">
                          </div>

                        </form>
                      </div>

                      <div class="col-12 mt-4">
                        <button type="submit"
                          class="btn btn-save btn-secondary">SAVE
                          CHANGES</button>
                      </div>
                    </div>
                  </div>
                </div>