// _login.scss

.login-section {
	background: var(--color-background);
	min-height: 70.9vh;

	.login-boxes {
		border-radius: 0;
		overflow: hidden;
		min-height: 520px;
	}

	.login-signup-box {
		min-height: 520px;
	}

	.login-signin-box {
		background: var(--color-secondary);
		min-height: 350px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		.login-inp {
			background: var(--color-light);
			color: var(--color-dark);
		}
	}

	@media (max-width: #{$screen-md - 1}) {
		.login-boxes {
			flex-direction: column;
		}
		.login-signup-box,
		.login-signin-box {
			min-height: unset;
			padding: 2rem 1.2rem;
		}
	}
}