.our-brands-section {
  background-color: var(--color-background);

  .slider {
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    .logos {
      display: flex;
      animation: scrollSmooth 30s linear infinite;

      .brand-logo {
        max-height: 40px;
        margin: 0 4.5rem;
        object-fit: contain;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.2);
        }
      }

      @media (max-width: 768px) {
        .brand-logo {
          max-height: 30px;
          margin: 0 1rem;
        }
      }
    }
  }
}
